<div>
<form [formGroup]="SignupForm" (ngSubmit)="onSignin(SignupForm)">
    <div>
      <label>
        Phone:
        <input formControlName="phone" placeholder="Your phone">
      </label>
      <div *ngIf="SignupForm.get('phone')?.invalid && (SignupForm.get('phone')?.dirty || SignupForm.get('phone')?.touched)">
        Please Enter your number.
      </div>
    </div>
    <div>
      <label>
        
        Password:
        <input formControlName="password" placeholder="Your password">
      </label>
      <div *ngIf="SignupForm.get('password')?.invalid && (SignupForm.get('password')?.dirty || SignupForm.get('password')?.touched)">
        Please Enter A valid Password.
      </div>
    </div>
    <div>
      <label>
        Confirm Password:
        <input formControlName="password2" placeholder="Reapet Your password">
      </label>
    </div>
      <div class="error" *ngIf="SignupForm.get('password2')?.touched 
      && SignupForm.get('password')?.touched 
      && SignupForm.get('password') !== SignupForm.get('password2')" >
      <small> Password does not match </small>
      </div>
  
    <button type="submit">Sign Up</button>
  </form>
</div>