@import "../../../styles/theme.scss";
form{
    position: relative;
    margin-top: 2.5rem;
    span{
        cursor: pointer;
    }

    .bold{
        font-weight: bold;
        text-decoration: underline;
        
    }

    .form-control:focus{
        box-shadow: none;
    }

    .hide{
        display: none;
    }

    .invalid{
        border-color: $input_wrong_border_color;
    }
    .valid, .valid:focus{
        border-color: $input_success_border_color;
    }
    label{
        margin-bottom: 0.3rem;
        font-weight: 500;
        font-style: italic;
    }
    button{
        position: relative;
        background: $button_submit_color;
        margin-top: 2.5rem;
        width: 100%;
        border: none;
        mat-icon{
            position:absolute
        }
    }
    .sign-in_instead{
        margin-top: 2.5rem;
        text-align: center;
        font-style: italic;
    }
    a, a:hover{
        cursor: pointer;
        text-decoration: underline ;
        font-style: italic;
    }
    input{
        font-weight: 501;
        font-style: italic;
    }
}
