<div class="col-xs-12 col-md-6 col-md-offser-3" *ngIf="!snippingLoading">

    <ng-container *ngIf="requestMessage" >
      <div class="alert alert-danger" [class]="hasError ? 'error': 'success' " role="alert">
        {{requestMessage}}
        </div>
      </ng-container>




  <ng-container>

    <div class="title"  >
      <h2 *ngIf=" formStatus=='signUp' ">Register</h2>
    </div>
  
    <form  [formGroup]="signUpForm" (ngSubmit)="onSignUp(signUpForm)" *ngIf="!snippingLoading  && formStatus=='signUp'">

        
        <div class="form-group">

            <label for="username" class="bold" > Phone Number</label>
            <input 
              formControlName= "username"
              class="form-control mt-1" 
              [class]=" { 'invalid':(signUpForm.controls.username.errors && signUpForm.controls.username.touched),  'valid': (!signUpForm.controls.username.errors && !signUpForm.controls.username.pristine) }"
              id="username" 
              name="username" 
              placeholder=09120000000
              >
            <div class="error">
              <small *ngIf="!signUpForm.controls.username.value && signUpForm.controls.username.touched"> Email is required!</small>
              <small *ngIf="signUpForm.controls.username.value && signUpForm.controls.username.errors && signUpForm.controls.username.touched" >Please enter valid phone number!</small>
            </div>
      
      
            <div class="input-element">
              <div class="password-labeling d-flex flex-row justify-content-between">
                  <label for="password" class="bold"> Password</label>
            </div>
      
              <div class="pass-input">   
                  <!-- [type]="toggle.type"  -->
                  <input class="form-control mt-1 mb-2" matInput #password
                        formControlName="password"
                        id="password"
                        [class]="{ 'invalid': (signUpForm.controls.password.errors && signUpForm.controls.password.touched ), 'valid' : !signUpForm.controls.password.pristine && ! signUpForm.controls.password.errors }"
                        >

              </div>
              <div class="password_hint">
                  show pass hint here
              </div>
            </div>  
      
            <div class="input-element">
              <label class="bold" for="password1">Confirm Password</label>
              <div class="pass-input">  
                <input 
                    class="form-control mt-1" 
                    id="password1" 
                    formControlName="password1" 
                    matInput #password1
                    [class]="{ 'invalid': ((signUpForm.controls.password1.errors && signUpForm.controls.password1.touched) || (signUpForm.controls.password1.touched && password.value !== password1.value) ), 'valid' : !signUpForm.controls.password1.pristine && !signUpForm.controls.password1.errors && (password.value == password1.value)  }">
                
                
                <div class="error" *ngIf="signUpForm.controls.password1.touched 
                            && signUpForm.controls.password.touched 
                            && password.value !== password1.value" >
                      <small> Password does not match </small>
                </div>
              </div>
            </div> 
              
            <button type="submit" class="btn" [disabled]="!signUpForm.valid || password.value !== password1.value">Sign up<mat-icon>arrow_forward</mat-icon></button>    
            <div class="sign-in_instead">
            <h6>Already have an account? <a (click)="changeFormToSignIn()" >Sign-in</a> instead</h6>
            </div>
      
              
        </div>

    </form>
  </ng-container>
  <!-- login part -->
  <ng-container>
    <div class="title"  >
      <h2 *ngIf="formStatus=='signIn'">Log In</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" *ngIf="formStatus=='signIn'" >
      <div class="form-group">
          <label for="username">Phone</label>
          <input type="text"
              id="username"
              placeholder="09120000000" 
              class="form-control" 
              [ngClass]="{'invalid' : (loginForm.controls.username.errors && loginForm.controls.username.touched) ,'valid': (!loginForm.controls.username.errors && !loginForm.controls.username.pristine)}" 
              name="email" 
              formControlName="username">

          <div class="error" >
              <small *ngIf="!loginForm.controls.username.value && loginForm.controls.username.touched "> Username is required!</small>
              <small *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors && loginForm.controls.username.value">Please enter valid username address!</small>
          </div>
          <div class="input-element">
            <label for="password">Password</label>
            <input type="text" 
                id="password" 
                class="form-control"
                placeholder="Password"
                [class]="{'invalid' : (loginForm.controls.password.errors && loginForm.controls.password.touched) ,'valid': (!loginForm.controls.password.errors && !loginForm.controls.password.pristine)}" 
                name="password" 
                formControlName="password">
                <div class="error" >
                    <small *ngIf="!loginForm.controls.password.value && loginForm.controls.password.touched" > Password is required! </small>
                </div>
          </div>
          <a>  Forgot password? </a>
          <button type="submit" class="btn" [disabled]="!loginForm.valid">LogIn<mat-icon>arrow_forward</mat-icon></button>

          <div class="sign-in_instead" >
            <h6>Don't have an account? <a (click)="changeFormToSignUp()" >Sign-up</a> instead</h6>
          </div>
      </div>
  </form>
  </ng-container>
  
</div>

<div *ngIf="snippingLoading " class="spinner_loading">
  <nb-card [nbSpinner]="true" *ngIf="snippingLoading">
    <nb-card-body>
      It may take a while, please wait...
    </nb-card-body>
  </nb-card>
</div>