<mat-toolbar>
    <nav class="navbar navbar-expand">
                  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- <ul class="navbar-nav ms-auto me-3" *ngIf="userIslogedIn">
  
          </ul> -->
        
            <ul class="navbar-nav me-auto me-3" >

                <li><a class="me-2 ms-2 item dialog" (click)="onSignUp()"  > ثبت نام</a></li>
                <li><a class="me-2 item dialog"  (click)="onSignIn()" > ورود</a></li>
            </ul>
  
            <ul class="navbar-nav me-auto me-3" >
                <div class="dropdown me-auto">
                <a href="#" class="dropdown-toggle item" data-bs-toggle="dropdown">email</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">Sign Out</a>
                    <a href="#" class="dropdown-item">Profile</a>
                </div>
                </div>
            </ul>   
    
            
        </div>
        <span class="me-2 brand" > <a  mat-button>فروشگاه</a></span> 
    </nav>
  </mat-toolbar>