<nav class="navbar navbar-expand " style="background-color:#e3f2fd;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
           
              <a aria-current="page" (click)="openDialog()">SignUp</a>
             
            
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">LogOut</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <input  class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  [(ngModel)]="searchText" >
        
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>     
      </div>
    </div>
  </nav>

  <div class="card" style="width: 14rem;">
    <ul class="list-group list-group-flush" *ngFor = "let item of (result | filterproducts:searchText)">
      <li class="list-group-item">{{item.name}}</li>
      
    </ul>
  </div>
  
